{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'index/css/administracao.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'index/js/administracao.js' %}"></script>
{% endblock %}


{% block ld %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
{% endif %}

    <h1>Arquivos {{slug}}</h1>
    {% if projetos %}
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Acoes</th>
            </tr>
        {% for projeto in projetos %}
            <tr>
                <td>{{projeto.id}}</td>
                <td>{{projeto.nome_do_projeto}}</td>
                <td>
                    <a href="{{projeto.slug_do_projeto}}/novo/" class="btn btn-success">+ Adicionar arquivo</a>
                    <a href="{{projeto.slug_do_projeto}}/ver/" class="btn btn-info">Ver arquivos</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-danger">Necessario ter projeto para adicionar arquivo</div>
    {% endif %}

{% endblock %}