{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'adminsitracao/css/administracao.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'adminsitracao/js/administracao.js' %}"></script>
{% endblock %}


{% block ld %}
<h1>Usuarios {{slug}}</h1>
<!--Vai pra dentro de gerenciar usuarios-->
<a href="novo/">Novo usuario</a>

{% if logins %}
{% for login in logins %}
    <br />
    <span>{{login}}</span>
    <a href="{{login.usuario.id}}/" class="btn btn-danger">
        <i class="fa-solid fa-trash-can"></i>
    </a>
{% endfor %}
{% else %}
<div class="alert alert-danger">Nenhum usuario cadastrado para essa empresa</div>
{% endif %}

{% endblock %}