{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load custom_filters %}

{% block css %}
<link rel="stylesheet" href="{% static 'index/css/administracao.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'index/js/administracao.js' %}"></script>
{% endblock %}


{% block ld %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
{% endif %}


<h1>Projetos {% replace slug_da_empresa "-" " " %}</h1>
<!--Vai pra dentro de gerenciar usuarios-->
<a class="botao btn" href="novo/" data-placement="top" title="Novo Projeto">
    <i class="fa-solid fa-plus"></i>
</a>
<hr/>

{% if projetos %}
<table class="table table-striped">
    <tr>
        <th>Nome do projeto</th>
        <th>A&ccedil;&otilde;es</th>
        <th>Ultimo backup criado</th>
    </tr>
{% for projeto in projetos %}
    <tr>
        <td>
            <span>{{projeto}}</span>
        </td>
        <td>
            <!--Vai pra dentro de gerenciar projetos-->
            <a class="btn btn-info" href="/administracao/arquivos/{{slug_da_empresa}}/" data-toggle="tooltip" data-placement="top" title="Gerenciar Arquivos">
                <i class="fa-solid fa-file-import"></i>
            </a>
            <a href="{{projeto.id}}/bkp/" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Backup do projeto">
                <i class="fa-solid fa-download"></i>
            </a>
            <a href="{{projeto.id}}/clean/" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Limpar backups desse projeto">
                <i class="fa-solid fa-recycle"></i>
            </a>
            <a href="{{projeto.id}}" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Excluir projeto">
                <i class="fa-solid fa-trash-can"></i>
            </a>
        </td>
        <td>
            {% if ultimo_bkp %}
                {{ultimo_bkp.data}} por {{ultimo_bkp.usuario}}
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
{% else %}
    <div class="alert alert-danger">Nenhum projeto cadastrado para essa empresa</div>
{% endif %}
    

{% endblock %}