{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'index/css/administracao.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'index/js/administracao.js' %}"></script>
{% endblock %}


{% block ld %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
{% endif %}


<h1>Usuarios {{slug}}</h1>
<!--Vai pra dentro de gerenciar usuarios-->
<a class="botao btn" href="novo/">Novo usuario</a>
<hr />

{% if logins %}
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Login</th>
        <th>Acoes</th>
    </tr>
{% for login in logins %}
    <tr>
        <td>{{login.id}}</td>
        <td>
            <span>{{login}}</span>
        </td>
        {% if not login.nivel.id == 1 %}
        <td>
            <a href="{{login.usuario.id}}/" class="btn btn-danger">
                <i class="fa-solid fa-trash-can"></i>Excluir
            </a>
        </td>
        {% endif %}
    </tr>
{% endfor %}
</table>

{% else %}
<div class="alert alert-danger">Nenhum usuario cadastrado para essa empresa</div>
{% endif %}

{% endblock %}