{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'adminsitracao/css/administracao.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'adminsitracao/js/administracao.js' %}"></script>
{% endblock %}


{% block ld %}

    <h1>Arquivos {{slug}}</h1>
    {% for projeto in projetos %}
        <div>
            <span>{{projeto}}</span>
            <a href="{{projeto.slug}}/novo/" class="btn btn-success">+</a>
        </div>
    {% endfor %}

{% endblock %}