{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'index/css/administracao.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'index/js/administracao.js' %}"></script>
{% endblock %}


{% block ld %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
{% endif %}


<h1>Acessos</h1>
<!--Vai pra dentro de gerenciar usuarios-->
<a class="botao btn" href="novo/">Novo N&iacute;vel</a>
<hr/>

{% if niveis %}
<table class="table table-striped">
    <tr>
        <th>N&iacute;vel de acesso</th>
        <th>Descri&ccedil;&atilde;o</th>
        <th></th>
    </tr>
{% for nivel in niveis %}
    <tr>
        <td>
            <span>{{nivel.nome_do_nivel}}</span>
        </td>
        <td>{{nivel.descricao}}
        </td>
        <td>
            {% if nivel.id != 1 %}
            <a href="/administracao/niveis/excluir/{{nivel.id}}" class="btn btn-danger">
                <i class="fa-solid fa-trash-can"></i>Excluir
            </a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>
{% else %}
    <div class="alert alert-danger">Nenhum n&iacute;vel de acesso cadastrado</div>
{% endif %}
    

{% endblock %}