{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'index/css/administracao.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'index/js/administracao.js' %}"></script>
{% endblock %}

{% block ld %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
{% endif %}

<h1>Dashboard</h1>

<div class="ultimas-empresas">
    {% if empresas %}
        <h3>Ultimas empresas cadastradas</h3>
        <table class="table table-striped">
            <tr>
                <th>Nome da empresa</th>
                <th>Respons&aacute;vel</th>
                <th>Data do cadastro</th>
                <th>Status</th>
                <th>A&ccedil;&otilde;es</th>
            </tr>
            {% for empresa in empresas%}
            <tr>
                <td>{{empresa.nome_da_empresa}}</td>
                <td>{{empresa.nome_do_responsavel}}</td>
                <td>{{empresa.criado}}</td>
                <td>
                    {% if empresa.ativo %}
                        <!--ativo-->
                        <a class="btn btn-success" href="/empresa/ativar/{{empresa.id}}/desativar/"
                            data-toggle="tooltip" data-placement="top" title="Ativa/Desativar empresa">
                            <i class="fa-solid fa-lock-open"></i>
                        </a>
                    {% else %}
                        <!--inativo-->
                        <a class="btn btn-danger" href="/empresa/ativar/{{empresa.id}}/ativar/"
                            data-toggle="tooltip" data-placement="top" title="Ativa/Desativar empresa">
                            <i class="fa-solid fa-lock"></i>
                        </a>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-warning" href="usuarios/{{empresa.slug_da_empresa}}"
                        data-toggle="tooltip" data-placement="top" title="Gerenciar usu&aacute;rios">
                        <i class="fa-solid fa-user-gear"></i>
                    </a>
                    <a class="btn btn-warning" href="projetos/{{empresa.slug_da_empresa}}"
                        data-toggle="tooltip" data-placement="top" title="Gerenciar Projetos">
                        <i class="fa-solid fa-folder-plus"></i>
                    </a>
                    
                    <a class="btn btn-danger" href="/empresa/editar/{{empresa.id}}"
                        data-toggle="tooltip" data-placement="top" title="Editar empresa">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a class="btn btn-danger" href="/empresa/excluir/{{empresa.id}}"
                    data-toggle="tooltip" data-placement="top" title="Excluir empresa">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-danger">N&atilde;o possue empresas cadastradas</div>
    {% endif %}
</div>

{% endblock %}