{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'index/css/administracao.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'index/js/administracao.js' %}"></script>
{% endblock %}


{% block ld %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
{% endif %}

<h1>Notifica&ccedil;&otilde;es</h1>

{% if notificacoes %}

<div class="filtro">
    <form action="" method="post">
        {% csrf_token %}
        <select name="ordem" id="ordem">
            <option value="1">Mais recente</option>
            <option value="2">Mais antigo</option>
        </select>
        <input type="search" name="pesquisa" id="pesquisa" />
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</div>

<table class="table table-striped">
    <tr>
        <th>Descri&ccedil;&atilde;o</th>
        <th>Data</th>
    </tr>
    {% for page in pages %}
        <tr>
            <td>{{page.descricao}}</td>
            <td>{{page.data}}</td>
        </tr>
    {% endfor %}
</table>

{% if pages.has_previous %}
<a href="?page={{pages.previous_page_number}}">Anterior</a>
{% endif %}
{% if pages.has_next %}
<a href="?page={{pages.next_page_number}}">Pr&oacute;ximo</a>
{% endif %}


{% else %}
<div class="alert alert-danger">Sem notifica&ccedil;&otilde;es</div>
{% endif %}
    

{% endblock %}