{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'index/css/administracao.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'index/js/administracao.js' %}"></script>
{% endblock %}


{% block ld %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
{% endif %}


<a href="/administracao/arquivos/{{slug_da_empresa}}/" class="btn btn-success">Voltar</a>

<form action="/administracao/arquivos/{{slug_da_empresa}}/{{projeto}}/novo/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn botao" type="submit">Cadastrar arquivo</button>
</form>
{% endblock %}