{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'index/css/administracao.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'index/js/administracao.js' %}"></script>
{% endblock %}


{% block ld %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
{% endif %}

<h1>Lista de arquivos</h1>

<a href="/administracao/arquivos/{{slug_da_empresa}}/" class="btn btn-success" data-placement="top" title="Voltar">
    <i class="fa-solid fa-left-long"></i>
</a>
<a href="/administracao/arquivos/{{slug_da_empresa}}/{{projeto.slug_do_projeto}}/novo/" class="btn btn-success" data-placement="top" title="Adicionar Arquivo">
    <i class="fa-solid fa-plus"></i>
</a>

{% if arquivos %}
{% for arquivo in arquivos %}
    <div class="card item-arquivo" style="width: 18rem;">
            {% if arquivo.extensao == "pdf" %}
            <img class="card-img-top" src="{% static 'index/images/pdf.png' %}" alt=""/>
            {% endif %}
            {% if arquivo.extensao == "imagens" %}
                <img src="{{arquivo.file}}" width="200" height="200" alt=""/>
            {% endif %}
            {% if arquivo.extensao == "audios" %}
                <img src="{% static 'index/images/audio.png' %}" width="200" height="200" alt=""/>
            {% endif %}
            {% if arquivo.extensao == "videos" %}
                <img src="{% static 'index/images/video.png' %}" width="200" height="200" alt=""/>
            {% endif %}
            {% if arquivo.extensao == "outros" %}
                <img src="{% static 'index/images/outros.png' %}" width="200" height="200" alt=""/>
            {% endif %}
            <div class="card-body">
                <p class="card-text">{{arquivo.descricao}}</p>
                <p class="card-text">{{arquivo.data_upload}}</p>
                <a class="btn btn-success card-link" href="{{arquivo.file}}" target="__blank">
                    <i class="fa-solid fa-download"></i>
                </a>
                <a class="btn btn-danger card-link" href="/administracao/arquivos/{{slug_da_empresa}}/{{projeto.slug_do_projeto}}/excluir/{{arquivo.id}}/">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </div>
{% endfor %}
{% else %}
    <div class="alert alert-danger">Ainda n&atilde;o colocou arquivos nesse projeto</div>
{% endif %}

{% endblock %}