{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'index/css/administracao.css' %}">
<link rel="stylesheet" href="{% static 'index/css/calendario.css' %}">
{% endblock %}


{% block ld %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
{% endif %}

<h3>Agenda {{empresa.nome_da_empresa}}</h3>
{% if tarefas %}
    {% for tarefa in tarefas %}
        <details class="lista_de_tarefas">
            <summary><strong>{{tarefa.titulo}}:</strong> {{tarefa.inicio_data}} - {{tarefa.inicio_hora}}</summary>
            <div class="descricao">
                {{tarefa.descricao}}
            </div>
            <div class="acoes">
                {% if tarefa.tipo.nome == "reuniao"%}
                <a class="btn btn-info" target="_blank" href="/empresa/reuniao/{{tarefa.titulo}}/" data-toggle="tooltip" data-placement="top" title="Entrar na reuniao">
                    <i class="fa-solid fa-video"></i>
                </a>
                {% endif %}
            </div>
        </details>
    {% endfor %}

    {% if tarefas.has_previous %}
        <a href="?page={{tarefas.previous_page_number}}">Anterior</a>
    {% endif %}
    {% if tarefas.has_next %}
        <a href="?page={{tarefas.next_page_number}}">Pr&oacute;ximo</a>
    {% endif %}

{% else %}
    <div class="alert alert-danger">nao tem tarefas</div>
{% endif %}
{% endblock %}