{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
    <link rel="stylesheet" href="{% static 'index/css/administracao.css' %}">
{% endblock %}

{% block ld %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
{% endif %}

<form action="/empresa/editar/{{empresa.id}}/" method="post" autocomplete="off">
    <h1>Editar empresa</h1>
    {% csrf_token %}
    {% bootstrap_form form %}

    <button class="btn botao" type="submit">Atualizar dados</button>
</form>

{% endblock %}