{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
    <link rel="stylesheet" href="{% static 'index/css/administracao.css' %}">
{% endblock %}

{% block ld %}

<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    
    <label for="cnpj">CNPJ:</label>
    <input class="form form-control" type="text" name="cnpj" id="cnpj" value="{{empresa.cnpj}}">

    <label for="cnpj">Nome da empresa:</label>
    <input class="form form-control" type="text" name="nome_da_empresa" id="nome_da_empresa" value="{{empresa.nome_da_empresa}}">

    <label for="cnpj">Nome do Responsavel:</label>
    <input class="form form-control" type="text" name="nome_do_responsavel" id="nome_do_responsavel" value="{{empresa.nome_do_responsavel}}">

    <label for="cnpj">Telefone:</label>
    <input class="form form-control" type="text" name="telefone" id="telefone" value="{{empresa.telefone}}">

    <button class="btn botao" type="submit">Atualizar dados</button>
</form>

{% endblock %}