{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'index/css/administracao.css' %}">
<link rel="stylesheet" href="{% static 'index/css/tarefas.css' %}">
{% endblock %}


{% block js %}
<script src="{% static 'index/js/jeet.si.js' %}"></script>
{% endblock %}

{% block ld %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
{% endif %}
<h3>Empresa: <strong>{{empresa.nome_da_empresa}}</strong></h3>


<a class="btn btn-warning" href="/administracao/usuarios/{{empresa.slug_da_empresa}}" data-toggle="tooltip" data-placement="top" title="Gerenciar usu&aacute;rios">
    <i class="fa-solid fa-user-gear"></i>
    <!--Gerenciar usu&aacute;rios-->
</a>

<a class="btn btn-warning" href="/administracao/projetos/{{empresa.slug_da_empresa}}" data-toggle="tooltip" data-placement="top" title="Gerenciar Projetos">
    <i class="fa-solid fa-folder-plus"></i>
    <!--Gerenciar Projetos-->
</a>

<a class="btn btn-danger" href="/empresa/editar/{{empresa.id}}" data-toggle="tooltip" data-placement="top" title="Editar empresa">
    <i class="fa-solid fa-pen-to-square"></i>
    <!--Editar empresa-->
</a>

<a class="btn btn-info" href="agenda/" data-toggle="tooltip" data-placement="top" title="Ver agenda completa">
    <i class="fa-solid fa-book"></i>
    <!--Calendario-->
</a>

<hr/>

<a class="btn btn-secondary" href="agenda/nova/" data-toggle="tooltip" data-placement="top" title="Nova Tarefa">
    nova tarefa
</a>

<hr/>

<h3>Tarefas do dia</h3>
{% if tarefas %}

    {% for tarefa in tarefas %}
    
        <details class="lista_de_tarefas">
            <summary><strong>{{tarefa.titulo}}:</strong> {{tarefa.inicio_data}} - {{tarefa.inicio_hora}}</summary>
            <div class="descricao">
                {{tarefa.descricao}}
            </div>
            <div class="acoes">
                {% if tarefa.tipo.nome == "reuniao"%}
                <a class="btn btn-info" href="/empresa/reuniao/{{tarefa.titulo}}/" data-toggle="tooltip" data-placement="top" title="Entrar na reuniao">
                    <i class="fa-solid fa-video"></i>
                    <!--Entrar em Reuniao-->
                </a>
                {% endif %}
            </div>
        </details>
    
    {% endfor %}

{% else %}
<div class="alert alert-danger">nao tem tarefas</div>
{% endif %}

{% endblock %}