body{
    
    overflow:hidden;
}

div.form-login{
    width: 30%;
    border:solid #f19103 1px;
    border-radius:5px;
    margin:0px auto;
    padding:2%;
    margin-top:10%;
}
div.form-login div.logo img{
    width: 90%;
    height:200px;
    margin-bottom:3%;
    margin-left:5%;
}
div.form-login form button {
    display:block;
    width:100%;
    height:60px;
    font-weight: bold;
}

/*** BOTOES DO SITE ***/
.botao{
    background-color:#c27706;
}
.botao:hover{
    background-color:#f19103;
}