{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'index/images/logo.png' %}" type="image/x-icon" />
    <title>Mapas Drone - Inspe&ccedil;&otilde;es A&eacute;reas e Aq&aacute;tivas</title>
    
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'index/css/all.min.css' %}" />
    {% block css %}
    {% endblock %}

    <script src="{% static 'index/js/jquery.js' %}"></script>
    {% block js %}
    {% endblock %}
</head>
<body>
    <div class="le">
        {% block le %}
            {% include 'administracao/lateral-esquerda.html' %}
        {% endblock %}
    </div>

    <div class="ld">
        {% block ld %}
        {% endblock %}
    </div>
    
</body>l
</html>