{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
</head>
<body>
    
    <h1>base templates</h1>
    <nav>
        {% if not request.user.is_authenticated %}
            <a class="btn btn-info" href="{% url 'login-index' %}">login</a>
        {% else %}
            {% if request.user.is_superuser %}
                <a class="btn btn-info" href="{% url 'index-administracao' %}">Minha Conta</a>
            {% else %}
                <a class="btn btn-info" href="{% url 'index-empresa' %}">Minha Conta</a>
            {% endif %}
            <a class="btn btn-info" href="{% url 'logout-index' %}">Sair</a>
        {% endif %}
    </nav>
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{message.tags}}">{{message}}</div>
        {% endfor %}
    {% endif %}

    <div class="container">
        {% block conteudo %}
        {% endblock %}
    </div>
    
</body>
</html>