<div class="lateral-esquerda">
    <!--Links main-->
    <details>
        <summary>
            <i class="fa-solid fa-house"></i>
            <span>Dashboard</span>
        </summary>
        <div class="links">
            <a href="{% url 'index-administracao' %}">Dashboard</a>
            <a href="{% url 'logout-index' %}">Sair</a>
        </div>
    </details>
    <!--Links de Empresa-->
    <details>
        <summary>
            <i class="fa-solid fa-building"></i>
            <span>Empresa</span>
        </summary>
        <div class="links">
            <a href="{% url 'nova_empresa-empresa' %}">Nova Empresa</a>
            <a href="{% url 'novo_usuario-administracao' %}">Novo Usuario</a>
        </div>
    </details>
</div>