{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'adminsitracao/adminsitracao.css' %}">
{% endblock %}

{% block menu %}
{% endblock %}

{% block conteudo %}
{% include 'administracao/lateral-esquerda.html' %}

<div class="lateral-direita">
    asdsad
</div>

{% for arquivo in arquivos %}
    {% for key, value in arquivo.items %}
        <details>
            <summary>{{key|upper}}:</summary>
            {% for valor in value %}
            <div class="alert alert-info">
                {{ valor|upper }}</a>
                {% if level != "normal" %}
                    <a class='btn btn-warning' href="/media/{{empresa.slug}}/{{key}}/{{valor}}" target="__blank">VER</a>
                    <a class='btn btn-danger' href="excluir/{{valor}}">EXCLUIR</a>
                {% else %}
                    <a class='btn btn-warning' href="/media/{{empresa.slug}}/{{key}}/{{valor}}" target="__blank">VER</a>
                {% endif %}
            </div>
            {% endfor %}
        </details>
    {% endfor %}
{% endfor %}

{% endblock %}