{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block conteudo %}

<h3>Listagem de arquivos da empresa <strong>{{empresa.nome}}</strong></h3>
<a class="btn btn-success" href="/arquivos/novo_arquivo/{{emp_id}}/">Novo arquivo</a>



{% for arquivo in arquivos %}
    {% for key, value in arquivo.items %}
        <details>
            <summary>{{key|upper}}:</summary>
            {% for valor in value %}
            <div class="alert alert-info">
                {{ valor|upper }}</a>
                <a class='btn btn-warning' href="/media/{{empresa.slug}}/{{key}}/{{valor}}" target="__blank">VER</a>
                <a class='btn btn-danger' href="excluir/{{valor}}">EXCLUIR</a>
            </div>
            {% endfor %}
        </details>
    {% endfor %}
{% endfor %}

{% endblock %}