{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'adminsitracao/css/administracao.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'adminsitracao/js/administracao.js' %}"></script>
{% endblock %}

{% block ld %}
{% if level != "normal" %}
    <a class="btn botao" href="/arquivos/novo_arquivo/{{emp_id}}/">Novo arquivo</a>
{% endif %}
<hr />


<!--*************************************-->
<details>
    <summary>{{"audios" | upper}}</summary>
    {% for arquivo in arquivos %}
        {% if arquivo.type == "audios" %}
            <audio src="{{arquivo.file}}" controls></audio>
        {% endif %}
    {% endfor %}
</details>

<details>
    <summary>{{"imagens" | upper}}</summary>
    {% for arquivo in arquivos %}
        {% if arquivo.type == "imagens" %}
            <a href="{{arquivo.file}}" target="__blank">
                <img style="width:200px; height:200px" src="{{arquivo.file}}" />
            </a>
        {% endif %}
    {% endfor %}
</details>

<details>
    <summary>{{"pdf" | upper}}</summary>
    {% for arquivo in arquivos %}
        {% if arquivo.type == "pdf" %}
            <a href="{{arquivo.file}}" target="__blank">
                <img style="width:200px; height:200px" src="{{arquivo.file}}" />
            </a>
        {% endif %}
    {% endfor %}
</details>

<details>
    <summary>{{"videos" | upper}}</summary>
    {% for arquivo in arquivos %}
        {% if arquivo.type == "videos" %}
            <video width="400" height="300" src="{{arquivo.file}}" controls></video>
        {% endif %}
    {% endfor %}
</details>


<details>
    <summary>{{"outros" | upper}}</summary>
    {% for arquivo in arquivos %}
        {% if arquivo.type == "outros" %}
            <a href="{{arquivo.file}}" target="__blank">
                <img style="width:200px; height:200px" src="{{arquivo.file}}" />
            </a>
        {% endif %}
    {% endfor %}
</details>
<!--*************************************-->

{% endblock %}